/* stylelint-disable max-line-length */
@font-face {
    font-family: greenship;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/greenship.woff') format('woff');
}

@font-face {
    font-family: penis;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/penis.woff') format('woff');
}
